<div class="container text-center">
   <div class="col">
      <div class="row">
         <h1 class="text text-success mb-3"> Detail Prodcut</h1>
      </div>
      <div class="row">
         <table class="table table-bordered">
            <tr>
               <th>Product</th>
               <td>{{ boy.product }}</td>
            </tr>
       <tr>
         <th> Image
            <td>
                  <img src=" {{ boy.image }}"
                  width="250" height="250">   
                  </td>    
      </th>
      </tr>
            <tr>
               <th>Price</th>
               <td>{{ boy.price }} $</td>
            </tr>
            <tr>
               <th>Quantity</th>
               <td>{{ boy.quantity }}</td>
            </tr>
           <tr>
               <th>Color</th>
               <td>{{ boy.color }}</td>
            </tr>
           
 <tr>
               <th>Rating</th>
               <td>{{ boy.rating }} ☆ </td>
            </tr>



            <tr>
               <th colspan="2">

                

                  

               </th>
            </tr>
         </table>
      </div>
   </div>
</div>