<div class="container text-center">
   <h1 class="text text-danger  mb-3"> ATN Store </h1>
   <br> 
  <img  src="https://www.hsdbackdrops.com/cdn/shop/products/CHS3095x5.jpg?v=1624901430" width="800" height="800">
   <br> <br> 
 <h4> Welcome to toy kingdom </h4>

<div class="card-group">
    
    {{#each boys}}
  <div class="col">
    <div class="card">
       
            <img src="{{image}}" class="card-img-top" height="160" alt="">
        </a>
      <div class="card-body">
        <h5 class="card-title">{{product}}</h5>
        <p class="card-text">Price:  {{price}} $</p>
        <p class="fw-bold card-text text-success">Quantity : {{ quantity }}</p>
        <p class="fw-bold card-text text-primary"><i class="bi bi-star-fill">Rating {{ rating }}☆ </i></p>
               <form action="/boy/detail" method="post">
                 <input type="hidden" name="id" value="{{_id}}">
                 <input type="submit" class="btn btn-success" value="Detail"/>
               </form>
      </div>
    </div>
  </div>
    {{/each}}
</div>



</div>





