

<div class="container text-center">
   <h1 class="text text-danger"> ATN Toy Store</h1>
   
      <div class=" row row-cols-1 row-cols-md-6 g-4 mt-5">
         {{#each boys }}
         <div class="card row">
            
            <img class="card-img-top " src="{{ image }}" width="auto" height="auto" >
            
            <div class="card-body">
               <h4 class="card-title text-success">{{ product }}</h4>
               <p class="fw-bold card-text text-erorr">Price : {{ price }} $</p>
               <p class="fw-bold card-text text-success">Quantity : {{ quantity }}</p>
               <p class="fw-bold card-text text-info">Color: {{ color }}</p>
               <p class="fw-bold card-text text-primary">Rating {{ rating }}☆ </i></p>
               <form action="/boy/detail" method="post">
                 <input type="hidden" name="id" value="{{_id}}">
                 <input type="submit" class="btn btn-success" value="Detail"/>
               </form>
            </div>
         </div>
         {{/each}}
      </div>
   
</div>

 <a class="btn btn-primary" href="/boy"> Administration </a>