<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"> Home </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/boy/list"> Toy Boy </a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/girl/list"> Toy Girl </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/hoangnamkieu.22/"> About Us </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">  </a>
      </li>
    </ul>
    
   
  
<form action="/girl/search" method="post">
                 <input type="text" name="name" placeholder="Search by name product">
                <input type="submit" value="Search">
            </form>
         
  </div>
</nav>

<div class="container text-center">
   <h1 class="text text-danger"> ATN Toy Store</h1>
 
      <div class=" row row-cols-1 row-cols-md-6 g-4 mt-5">
         {{#each girls }}
         <div class="card row">
            
            <img class="card-img-top " src="{{ image }}" width="auto" height="auto" >
            
            <div class="card-body">
               <h4 class="card-title text-success">{{ product }}</h4>
               <p class="fw-bold card-text text-erorr">Price : {{ price }} $</p>
               <p class="fw-bold card-text text-success">Quantity : {{ quantity }}</p>
               <p class="fw-bold card-text text-info">Brand: {{ brand }}</p>
              
               <form action="/girl/detail" method="post">
                 <input type="hidden" name="id" value="{{_id}}">
                 <input type="submit" class="btn btn-success" value="Detail"/>
               </form>
            </div>
         </div>
         {{/each}}
      </div>
   
</div>

 <a class="btn btn-primary" href="/girl"> Administration </a>